body {
 text-align: center;
 font-family: Arial;
 font-size: 14px;
 color: #1f1f1f;
 margin-top: 60px;
 background: #fff;
}
img {
 width: 200px;
 max-height: 100%;
}
a {
 color: #61226B;
 font-weight: bold;
}



